@import url();

@font-face {
    font-family: 'Panthera';
    src: url(../font/panthera/PantheraRegular-MVZ9J.ttf);
}
@font-face {
    font-family: 'Beyno';
    src: url(../font/beyno/BEYNO.ttf);
}
@font-face {
    font-family: 'Wakanda4ever';
    src: url(../font/wakanda/Wakanda4Ever-gxg5p.ttf);
}
@font-face {
    font-family: 'Cantarell';
    src: url(../font/cantarell/Cantarell-Regular.ttf);
}
:root{
    --white-color: #FFFFFF;
    --gradient-white: #F2CEF2; 
    --light-blue: #9E91B7;
    --lighter-blue: #DF99F2;
    --blue-color: #3D2DA6;
    --blue-color2: #07338C;
    --purple-color: #021740;
}
*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Beyno';
    font-size: 56px;
    font-weight: 400;
    color: var(--light-blue);
    padding-bottom: 50px;
}
h2{
    font-family: 'Beyno';
    font-size: small;
    font-weight: 200;
    color: var(--light-blue);
    text-decoration: underline;
}
p{
    font-family: 'Cantarell';
    font-size: 16px;
    font-weight: 100;
}
.container{
    width: 80%;
    margin: 0 auto;
}
html {
    background-image: url(../ASSETS/IllustrationsLogo/Allpages/arrière_plan.png);
}

body{
    background-color: var(--purple-color);
    background-image: url(../ASSETS/IllustrationsLogo/Allpages/arrière_plan.png);
    background-repeat: no-repeat;
    background-position: 4px 100px;
    background-size:cover;
    color: white;
    font-family: 'Cantarell';
    font-weight: 200;
    border: none;
}

/*Design of navigation */ 
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Beyno';
    
}
ul{
    list-style: none;
    color: #FFFFFF;
    
}
.haut{
    display: flex;
}

/*Design of Section Dora */ 
#Dora{ 
    margin-left: 400px;
    margin-top: 150px;
    font-size: small;
}
#Dora .titre{
    font-size: 40px; 
    margin-left: 200px;
}
#Dora .description{
    margin-top: 100px;
    text-align: justify;
    width: 50%;
    font-size: smaller;
    background-repeat: no-repeat;
    margin-left: 200px;
    background-size: 200%;
    background-position: 0%;
}
#Dora img{
    width: 100%;
    text-align: left;
    margin-left: 100px;
}
#Dora .dora-item{
    position: absolute;
    margin-left: -400px;
    margin-top: -300px;
    width: 800px;
    height: 700px;
}
#Dora .backtext1{
    position: absolute;
    width: 600px;
    height: 450px;
    margin-top: -300px;
}
#alphabet .backtext2 {
    position: absolute;
    margin-left: 550px;
    margin-top: -250px;
    width: 600px;
    height: 400px;
}

/*Design of section Alphabet */ 

#alphabet{
    margin-top: 200px;
    margin-bottom: 200px;
    background-repeat: no-repeat;
    background-size: 50%;
}
#alphabet .text{
    margin-top: 40px;
    text-align: justify;
    width: 50%;
    font-size: smaller;
    margin-bottom: 50px;
}
#alphabet .description{
    margin-top: 10px;
    text-align: center;
    font-size: smaller;
    width: 70%;
    margin-left: 600px;
}


/*Design of  Footer */
.footer-item{
    display: flex;
    margin-top: 100;
    background-image: url(../ASSETS/IllustrationsLogo/Allpages/back_footer.png);
    padding-top: 200px;
    background-size: 200%;
}
.item1{
    margin-right: 200px;
    margin-left:100px;
    position: static;
}

.footer2 {
    position: absolute;
    margin-top: -240px;
    margin-left: 100px;
}
.copyright{
    text-align: right;
}
.btn{
    text-decoration: none;
    color: var(--white-color);
    font-size: medium;
    padding: 8px;
    background: var(--blue-color);
    

}
.whitebtn{
    background: var(--white-color);
    height: 400px;
    color: black;
    
    
}
.text{
    padding: 10px;
    font-size: smaller;
    
}
.text .titre{
    text-align: center;

}
/*Design of enigme_1.4 */ 
.enigme1{
    margin: 5px;
}
.description1{
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: small;
}
#alphabet .backtext21 {
    position: absolute;
    margin-left: 450px;
    margin-top: -300px;
    width: 600px;
    height: 400px;
}
#Dora .face{
    width: 3%;
    position: absolute;
    margin-left: 400px;
    margin-top: -20px;
}
/*Design of enigme_1.5 */ 
.description2{
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: x-small;
    width: 50%;
}